    <footer class="footer pb-6 bg-primary text-white pt-9 mt-n9">
        <div class="container">
            <hr class="my-5">
            <div class="row">
                <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                    <p class="font-weight-normal font-small mb-0">
                        Rafael Belchior | Afonso Marques
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    